<div class="aj-grid-container--full greeting">
  <section id="ascii-logo" class="main-page__ascii-page aj-grid-item">
    <img src="/images/ascii-logo.svg" alt="ASCII Logo" />
  </section>
  <section id="greetings-messages" class="main-page__greetings-messages">
    <p>Welcome to AdamantiumOS 20.04 LTS (Resilient GNU/Linux x86_64)</p>
    <p>* Documentation:  https://help.ubuntu.com</p>
    <p>* Management:     https://landscape.canonical.com
    </p>
    <p> * Support:        https://ubuntu.com/advantage
    </p>
    <p>Last login: {{lastLoginDate}}</p>
  </section>
</div>
