.generic-input-container{
  &__cursor{
    display: inline-block;
  }
  input {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 20px;
  }
}


